chromadb==0.5.18
langchain==0.3.7
langchain-cohere==0.3.1
langchain-community==0.3.7
langchain-core==0.3.18
langchain-experimental==0.3.3
langchain-openai==0.2.8
langchain-text-splitters==0.3.2
langchainhub==0.1.21
langgraph==0.2.48
langgraph-checkpoint==2.0.4
langgraph-sdk==0.1.36
tavily-python==0.5.0
tiktoken==0.8.0
fastapi==0.115.5
opentelemetry-instrumentation-fastapi==0.49b1
uvicorn==0.32.0
bs4==0.0.2